* {
    box-sizing: border-box;
}

.wrapper {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: rgb(34, 34, 34);
}

.menu {
display: flex;
}

.menu, .menu ul {
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 15px;
    display: block;
}

.menu li {
    list-style: none;
    position: relative;
    float: left;
    background-color: rgb(34, 34, 34);
}

.products {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    display: none;

}
.list::after{
    content: ' +';
}

.products li {
    width: 100%;
}

.product2 {
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0;
    display: none;
}

nav ul li:hover > ul{
    display: initial;
}

nav ul li:hover{
    background-color: rgb(47, 154, 236);
}

.menu > li {
    border-bottom: 5px solid rgb(47, 154, 236);
}